.footer{
    background-color: #002529;
    position: relative;
    padding: 48px 0px;
    max-width: 1536px;
    margin: 0 auto;
}
.footer__left{
    display: flex;
    flex-wrap: wrap;
    width: 160px;
}
.footer__home{
    // font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-right: 40px;
    margin-top: 25px;
}
.footer__about{
    // font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    // margin-right: 40px;
    margin-top: 25px;
}
.footer__center{
    width: 445px;
}
.footer__contact{
    // font-family: 'Livvic';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.footer__right{
    width: 225px;
}
.footer__right-bottom-text{
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
    text-align: right;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-top: 51px;
}
.footer__right-top{
    text-align: right;
}
.footer__web-site{
    margin-left: 16px;
}