.header__nav{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    padding-top: 77px;
    padding-bottom: 100px;
    // vertical-align: middle;
}
.header{
    background-color: #014E56;
    max-width: 1536px;
    margin: 0 auto;
}
.header__logo{
    margin-right: 80px;
    font-weight: 900;
    color: #ffffff;
    width: 159.95px;
    height: 40px;
}
.header__item{
    color: #ffffff;
    // font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}
.header__item{
    margin-right: 40px;
}
.header__contact-us{
    color: #ffffff;
    padding: 11px 32px;
    border: 2px solid  #ffffff;
    border-radius: 24px;
    margin-left: 537px;
    vertical-align: middle;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    // margin-top: 77px;
}

