.hero{
    background-color: #014E56;
    position: relative;
    padding-bottom: 250px;
    max-width: 1536px;
    margin: 0 auto;
}
.hero__title{
    width: 635px;
    height: 200px;
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    margin-right: 30px;
    color: #ffffff;
    margin-top: 133px;
}
.hero__text{
    width: 455px;
    // font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    padding-top: 212px;
    padding-left: 0;
    margin-left: 0;
}
.hero__talent{
    margin: 0;
    padding: 0;
    display: inline-block;
    color: #F67E7E;
}
.hero__span{
    position: absolute;
    display: inline-block;
    border: 2px solid #79C8C7;
    background-color: #79C8C7;
    width: 50px;
    height: 4px;
    left: 863px;
    top: 133px;
}
.hero__figure{
    position: absolute;
    top: 133px;
}
.hero__bottom-figure{
    position: absolute;
    bottom: 0;
    right: 165px;
}